<style>

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;

    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>


<div class="stepwizard" style="margin-top: 20px">
    <div class="stepwizard-row">
        <div class="stepwizard-step" ng-repeat="activity in activities.activities">
            <button type="button" ng-class="{'btn-default':(!activity.completed && !activity.selected), 'btn-success':(activity.completed && !activity.selected), 'btn-primary':activity.selected}" class="btn btn-circle" ng-disabled="(!next && !activity.completed) || (!previous && activity.completed)" ng-click="activities.selectActivity($index);">{{$index+1}}</button>
            <p ng-if="!activity.selected">{{activity.title}}</p>
            <p ng-if="activity.selected"><strong>{{activity.title}}</strong></p>
        </div>
    </div>
</div>

<div class="activities-content" ng-transclude></div>
 
   <p align="right" style="padding:3px; right:0px"> 
       <button class="btn btn-primary btn-sm" ng-click="activities.prev()" ng-disabled="!activities.activities[(activities.current_activity-1)<0?0:(activities.current_activity-1)].completed" ng-if="previous &&  activities.current_activity > 0">Previous</button>
       <button class="btn btn-primary btn-sm" ng-click="activities.next()" ng-disabled="!activities.activities[activities.current_activity+1].completed" ng-if="next && activities.current_activity < (activities.activities.length-1)">Next</button>
       <button class="btn btn-success btn-sm" ng-click="activities.finish()"  ng-if="activities.current_activity == (activities.activities.length-1)">Finish</button>
   </p>
